@import '../shared/variables.sass'

div.wrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  padding-bottom: 30px
ul.list
  list-style: none
  padding: 0 0 30px
  margin: 0
  width: 100%
  li
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid $stylish-color
    border-radius: 5px
    padding: 15px
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    & .done
      text-decoration: line-through
    input
      margin-right: 10px
    button
      width: 25px
      height: 25px
      background: red
      color: white
      border-radius: 50%
      font-weight: bold
      border: none
      padding: 5px
      transition: all .2s
      cursor: pointer
      &:hover
        background: $danger-color-dark
      &:active
        background: $danger-color-dark
button.more
  width: 250px
  height: 40px
  background: red
  color: white
  font-weight: bold
  border: none
  padding: 5px
  transition: all .2s
  border-radius: 5px
  cursor: pointer
  &:hover
    background: $danger-color-dark
  &:active
    background: $danger-color-dark
  &:disabled
    background: $stylish-color

div.filter
  width: 100%
  input
    width: 100%
    height: 40px
    border: 1px solid $stylish-color
    border-radius: 5px
    outline: none
    padding: 0 15px
    box-sizing: border-box
    margin: 0 0 30px
